<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954573002287-g4tc9q4ifn61br1262996f0r3dellid9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954573002287-g4tc9q4ifn61br1262996f0r3dellid9</string>
	<key>API_KEY</key>
	<string>AIzaSyDeItRJY6LFaItYCKGoldk0yC9PuDDU0Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>954573002287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>squirrel.TableViewTest</string>
	<key>PROJECT_ID</key>
	<string>tableviewtest-844a8</string>
	<key>STORAGE_BUCKET</key>
	<string>tableviewtest-844a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954573002287:ios:4ea27e2c71ad7fbc1658da</string>
</dict>
</plist>